.banner {
  position: relative;
  height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/banner.jpg") center/cover;
  object-fit: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner h1 {
  font-size: 2rem;
  font-weight: bold;
}
